@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
.App {
  background-color: $base-color;
  color: $secondary-color;
}
